 class="diffoscope">
<div class="difference">
  <div class="diffheader">
  <div class="diffcontrol diffcontrol-double">⊟</div>
  <div><span class="diffsize">296 B</span></div>
  <div><span class="source">myfile1</span> vs.</div>
  <div id="top"><span class="source">myfile2</span>
    <a class="anchor" href="#top">¶</a>
  </div>
  </div>
<table class="diff">
<colgroup><col class="colines"/><col class="coldiff"/>
<col class="colines"/><col class="coldiff"/></colgroup>
<tr style="display:none;"><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr class="diffhunk"><td colspan="2">Offset 1, 11 lines modified</td><td colspan="2">Offset 1, 11 lines modified</td></tr>
<tr class="diffunmodified"><td class="diffline">1 </td><td class="diffpresent">Line<span class="dp">·</span>1</td><td class="diffline">1 </td><td class="diffpresent">Line<span class="dp">·</span>1</td></tr>
<tr class="diffunmodified"><td class="diffline">2 </td><td class="diffpresent">Line<span class="dp">·</span>2</td><td class="diffline">2 </td><td class="diffpresent">Line<span class="dp">·</span>2</td></tr>
<tr class="diffunmodified"><td class="diffline">3 </td><td class="diffpresent">Line<span class="dp">·</span>3</td><td class="diffline">3 </td><td class="diffpresent">Line<span class="dp">·</span>3</td></tr>
<tr class="diffchanged"><td class="diffline">4 </td><td class="diffpresent">Line<span class="dp">·</span>4</td><td class="diffline">4 </td><td class="diffpresent">Line<span class="dp">·</span>4<ins>b</ins></td></tr>
<tr class="diffunmodified"><td class="diffline">5 </td><td class="diffpresent">Line<span class="dp">·</span>5</td><td class="diffline">5 </td><td class="diffpresent">Line<span class="dp">·</span>5</td></tr>
<tr class="diffunmodified"><td class="diffline">6 </td><td class="diffpresent">Line<span class="dp">·</span>6</td><td class="diffline">6 </td><td class="diffpresent">Line<span class="dp">·</span>6</td></tr>
<tr class="diffunmodified"><td class="diffline">7 </td><td class="diffpresent">Line<span class="dp">·</span>7</td><td class="diffline">7 </td><td class="diffpresent">Line<span class="dp">·</span>7</td></tr>
<tr class="diffunmodified"><td class="diffline">8 </td><td class="diffpresent">Line<span class="dp">·</span>8</td><td class="diffline">8 </td><td class="diffpresent">Line<span class="dp">·</span>8</td></tr>
<tr class="diffunmodified"><td class="diffline">9 </td><td class="diffpresent">Line<span class="dp">·</span>9</td><td class="diffline">9 </td><td class="diffpresent">Line<span class="dp">·</span>9</td></tr>
<tr class="diffunmodified"><td class="diffline">10 </td><td class="diffpresent">Line<span class="dp">·</span>10</td><td class="diffline">10 </td><td class="diffpresent">Line<span class="dp">·</span>10</td></tr>
<tr class="diffunmodified"><td class="diffline">11 </td><td class="diffpresent">Line<span class="dp">·</span>11</td><td class="diffline">11 </td><td class="diffpresent">Line<span class="dp">·</span>11</td></tr>
<tr class="diffhunk"><td colspan="2">Offset 28, 15 lines modified</td><td colspan="2">Offset 28, 15 lines modified</td></tr>
<tr class="diffunmodified"><td class="diffline">28 </td><td class="diffpresent">Line<span class="dp">·</span>28</td><td class="diffline">28 </td><td class="diffpresent">Line<span class="dp">·</span>28</td></tr>
<tr class="diffunmodified"><td class="diffline">29 </td><td class="diffpresent">Line<span class="dp">·</span>29</td><td class="diffline">29 </td><td class="diffpresent">Line<span class="dp">·</span>29</td></tr>
<tr class="diffunmodified"><td class="diffline">30 </td><td class="diffpresent">Line<span class="dp">·</span>30</td><td class="diffline">30 </td><td class="diffpresent">Line<span class="dp">·</span>30</td></tr>
<tr class="diffunmodified"><td class="diffline">31 </td><td class="diffpresent">Line<span class="dp">·</span>31</td><td class="diffline">31 </td><td class="diffpresent">Line<span class="dp">·</span>31</td></tr>
<tr class="diffunmodified"><td class="diffline">32 </td><td class="diffpresent">Line<span class="dp">·</span>32</td><td class="diffline">32 </td><td class="diffpresent">Line<span class="dp">·</span>32</td></tr>
<tr class="diffunmodified"><td class="diffline">33 </td><td class="diffpresent">Line<span class="dp">·</span>33</td><td class="diffline">33 </td><td class="diffpresent">Line<span class="dp">·</span>33</td></tr>
<tr class="diffunmodified"><td class="diffline">34 </td><td class="diffpresent">Line<span class="dp">·</span>34</td><td class="diffline">34 </td><td class="diffpresent">Line<span class="dp">·</span>34</td></tr>
<tr class="diffchanged"><td class="diffline">35 </td><td class="diffpresent">Line<span class="dp">·</span>35</td><td class="diffline">35 </td><td class="diffpresent">Line<span class="dp">·</span>35<ins>b</ins></td></tr>
<tr class="diffunmodified"><td class="diffline">36 </td><td class="diffpresent">Line<span class="dp">·</span>36</td><td class="diffline">36 </td><td class="diffpresent">Line<span class="dp">·</span>36</td></tr>
<tr class="diffunmodified"><td class="diffline">37 </td><td class="diffpresent">Line<span class="dp">·</span>37</td><td class="diffline">37 </td><td class="diffpresent">Line<span class="dp">·</span>37</td></tr>
<tr class="diffunmodified"><td class="diffline">38 </td><td class="diffpresent">Line<span class="dp">·</span>38</td><td class="diffline">38 </td><td class="diffpresent">Line<span class="dp">·</span>38</td></tr>
<tr class="diffunmodified"><td class="diffline">39 </td><td class="diffpresent">Line<span class="dp">·</span>39</td><td class="diffline">39 </td><td class="diffpresent">Line<span class="dp">·</span>39</td></tr>
<tr class="diffunmodified"><td class="diffline">40 </td><td class="diffpresent">Line<span class="dp">·</span>40</td><td class="diffline">40 </td><td class="diffpresent">Line<span class="dp">·</span>40</td></tr>
<tr class="diffunmodified"><td class="diffline">41 </td><td class="diffpresent">Line<span class="dp">·</span>41</td><td class="diffline">41 </td><td class="diffpresent">Line<span class="dp">·</span>41</td></tr>
<tr class="diffunmodified"><td class="diffline">42 </td><td class="diffpresent">Line<span class="dp">·</span>42</td><td class="diffline">42 </td><td class="diffpresent">Line<span class="dp">·</span>42</td></tr>
</table></div>
